<h1>Ready to work with Websockets in th chat</h1>
<div>
    <i id="username"></i> <input id="chatbox">
</div>
<div id="logs"></div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/index.js"></script>